<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(periodi)"></head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<nav th:replace="fragments/base.html :: barraNavigazione"></nav>
	<ul>
		<li><strong>Ricerca le opere per anni</strong></li>
		<li th:each="String : ${anni}"><a href="opereAnno.html"
			th:href="@{'/anno' + '/' + ${String}}"
			th:text="|${String}|">anno</a></li>
	</ul>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>