<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(artista)"></head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<nav th:replace="fragments/base.html :: barraNavigazione"></nav>
	<ul>
		<li th:each="collezioni : ${collezioni}"><a
			href="collezione.html"
			th:href="@{'/collezioni' + '/' + ${collezioni.id}}"
			th:text="|${collezioni.nome}|">nome</a></li>
	</ul>
	<footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>