<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base.html :: headerfiles(home)"></head>
<meta charset="utf-8">
<title></title>
</head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
	<nav>
		<ul>
			<li><a th:href="@{/default}">Home</a></li>
			<li class="posDestra"><a th:href="@{/logout}">Logout</a></li>
		</ul>
	</nav>
	
	<form class="centrale" th:action="@{/updCuratore/{matricola} (matricola=${curatore.matricola})}"
		method="POST" th:object="${curatore}">
		<div th:if="${#fields.hasGlobalErrors()}">
			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p>
		</div>
		<div>
			<div>
				<span>nome</span>
				<div>
					<input type="text" th:field="*{nome}" /> <span
						th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
				</div>
			</div>
			<div>
				<span>cognome</span>
				<div>
					<input type="text" th:field="*{cognome}" /> <span
						th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></span>
				</div>
			</div>
			<div>
				<span>data di nascita</span>
				<div>
					<input type="date" th:field="*{dataNascita}" /> <span
						th:if="${#fields.hasErrors('dataNascita')}"
						th:errors="*{dataNascita}"></span>
				</div>
			</div>
			<div>
				<span>luogo di nascita</span>
				<div>
					<input type="text" th:field="*{luogoNascita}" /> <span
						th:if="${#fields.hasErrors('luogoNascita')}"
						th:errors="*{luogoNascita}"></span>
				</div>
			</div>
			<div>
				<span>numero di telefono</span>
				<div>
					<input type="text" th:field="*{telefono}" /> <span
						th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></span>
				</div>
			</div>
			<div>
				<span>indirizzo di posta elettronica</span>
				<div>
					<input type="text" th:field="*{email}" /> <span
						th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
				</div>
			</div>
			<div>
				<span><button type="submit">Invio</button></span>
			</div>
		</div>
	</form>
	
</body>
</html>